/*! == TYPOGRAPHY == */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');


h1, h2, h3, h4, h5, h6 { 
	color: $sl-theme-primary;
	font-family: $heading-font;
	 }
	
p { color: $sl-theme-secondary; }

a { color: $sl-theme-tertiary; }

body {
	font-family: $body-font;
}